{% extends "layout.html" %}

{% block content %}

<div class="info_ped">
    <div class="info_ped">Itens: <strong>Suco de laranja</strong></div>
    <div class="info_ped">Total: <strong>7.92</strong></div>
    <div class="info_ped">Forma de pagamento: <strong>{{pagamento}}</strong></div>
    <div class="info_ped">Status pedido: <strong> Aguardando Confirmação</strong></div>
    <div class="info_ped">Tempo de espera Estimado: <strong> 15 min</strong></div>
    <div class="info_ped">Pedidos na fila: <strong> 4</strong></div>
  </div>
  

{% endblock %}